.menu {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: #ffffff;
  justify-content: space-between;

  border-right: 2px solid #e39600;
}

.menu--top,
.menu--bottom {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  gap: 15px;
  text-decoration: none;
  color: #fff;
}

.menu--top > a,
.menu--bottom > a {
  color: #e39600;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  transition: 0.2s;
}

.menu--top img,
.menu--bottom img {
  height: 1.5rem;
  filter: invert(56%) sepia(80%) saturate(1805%) hue-rotate(9deg)
    brightness(99%) contrast(101%);
}

.menu--top > a:hover,
.menu--bottom > a:hover {
  color: #fdc452;
  padding-left: 5px;
  transition: 0.2s;
}

.menu--top img:hover,
.menu--bottom img:hover {
  filter: invert(84%) sepia(71%) saturate(700%) hue-rotate(316deg)
    brightness(101%) contrast(98%);
}

.menu .active {
  color: #fdc452;
  padding-left: 5px;
  transition: 0.2s;
}

.menu .active img {
  filter: invert(84%) sepia(71%) saturate(700%) hue-rotate(316deg)
  brightness(101%) contrast(98%);
}